## Process the manually selected images

In [2]:
from pathlib import Path

import geopandas as gpd
import pandas as pd

In [10]:
outlines_fp = '../data/outlines/paul_et_al_2020/c3s_gi_rgi11_s2_2015_v2.shp'
gl_df = gpd.read_file(outlines_fp)
gl_df

,GLACIER_NR,LAT,LON,area_km2,ELEV_MIN,ELEV_MAX,ELEV_MEAN,ELEV_MED,SLOPE_MEAN,ASP_MEAN,...,date_inv,Funding,Analyst,O1_REGION,O2_REGION,Country,Footpr_ID,entry_id,entry_id_i,geometry
0,0,44.1138,7.42313,0.058371,2642.04,2864.04,2752.48,2765,26.8816,11.8563,...,2015-08-29,DARA/Levissima,R.S. Azzoni; UNIMI,Alps (11),Alps (11-01),IT,29,g_0000,0,"POLYGON Z ((373745.749 4886014.748 0, 373753.0..."
1,1,44.1217,7.40278,0.047933,2612.04,2769.04,2660.54,2653,31.6692,36.5235,...,2015-08-29,DARA/Levissima,R.S. Azzoni; UNIMI,Alps (11),Alps (11-01),IT,29,g_0001,1,"POLYGON Z ((372241.696 4886694.388 0, 372251.5..."
2,2,44.1205,7.41513,0.041097,2451.04,2692.04,2539.32,2508,34.2298,11.2966,...,2015-08-29,DARA/Levissima,R.S. Azzoni; UNIMI,Alps (11),Alps (11-01),IT,29,g_0002,2,"POLYGON Z ((373140 4886810 0, 373140 4886800 0..."
3,3,44.1255,7.38630,0.030849,2850.04,2979.04,2909.37,2909,40.3645,334.2890,...,2015-08-29,DARA/Levissima,R.S. Azzoni; UNIMI,Alps (11),Alps (11-01),IT,29,g_0003,3,"POLYGON Z ((370934.913 4887121.787 0, 370941.5..."
4,4,44.1262,7.39148,0.027961,2735.04,2930.04,2829.85,2813,31.7826,9.8094,...,2015-08-29,DARA/Levissima,R.S. Azzoni; UNIMI,Alps (11),Alps (11-01),IT,29,g_0004,4,"POLYGON Z ((371300 4887430 0, 371300 4887420 0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4390,4390,47.0707,12.70750,0.879276,2768.04,3625.04,3184.07,3186,30.1066,65.3642,...,2016-08-27,ESA_GLACIERS_CCI,G. Schwaizer; J. Nemec; ENVEO,Alps (11),Alps (11-01),AT,5,g_4390,4390,"POLYGON Z ((781490 5220340 0, 781490 5220330 0..."
4391,4391,47.1373,12.72750,1.986310,2370.04,3326.04,2986.09,3034,19.3920,342.7750,...,2016-08-27,ESA_GLACIERS_CCI,G. Schwaizer; J. Nemec; ENVEO,Alps (11),Alps (11-01),AT,5,g_4391,4391,"POLYGON Z ((782288.561 5228290.32 0, 782297.03..."
4392,4392,47.0316,13.02960,0.499875,2638.04,2969.04,2770.58,2759,21.4683,13.6304,...,2016-08-27,ESA_GLACIERS_CCI,G. Schwaizer; J. Nemec; ENVEO,Alps (11),Alps (11-01),AT,5,g_4392,4392,"POLYGON Z ((806608.878 5216622.9 0, 806611.99 ..."
4393,4393,46.7723,10.82570,0.070869,3239.04,3383.04,3315.39,3320,21.5402,166.5850,...,2016-09-29,DARA/Levissima,"D. Fugazza, UNIMI",Alps (11),Alps (11-01),IT,15,g_4393,4393,"POLYGON Z ((639426.267 5181639.695 0, 639424.8..."
4394,4394,46.8475,10.15920,0.117551,2940.04,3061.04,3000.63,2997,16.9070,88.3793,...,2015-08-26,"ESA_GLACIERS_CCI, ECMWF-C3S","Y. Schaub, R. Le Bris, F. Paul, P. Rastner; UZH",Alps (11),Alps (11-01),CH,11,g_4394,4394,"POLYGON Z ((588300.264 5188979.971 0, 588300.8..."

In [11]:
# the next csv file contains the cloud coverage percentage for all the images from the inventory years 
# (obtained by running with C = S2_ALPS in config.py, assuming all the images were downloaded beforehand)

df_clouds = pd.read_csv('../data/external/wd/s2_alps/inv/aux_data/cloud_stats.csv')
df_clouds['date'] = df_clouds.fp_img.apply(lambda fp: pd.to_datetime(Path(fp).name[:8]).strftime('%Y-%m-%d'))
display(df_clouds.drop(columns='fp_img'))
df_clouds['k'] = df_clouds.entry_id + '_' + df_clouds.date

sdf_clouds = df_clouds[df_clouds.cloud_p_gl_b50m_v1 <= 0.3]
print(len(sdf_clouds))

,entry_id,cloud_p_meta,fill_p_meta,fill_p,tile_level_cloud_p,cloud_p_scene_v1,cloud_p_gl_v1,cloud_p_gl_b50m_v1,cloud_p_scene_v2,cloud_p_gl_v2,...,albedo_avg_gl_b50m_v2,ndsi_avg_gl_b50m_v2,r_swir_avg_gl_b50m_v2,albedo_avg_non_gl_v2,ndsi_avg_non_gl_v2,r_swir_avg_non_gl_v2,albedo_avg_non_gl_b50m_v2,ndsi_avg_non_gl_b50m_v2,r_swir_avg_non_gl_b50m_v2,date
0,g_0008,0.987402,1.0,1.0,0.822986,1.000000,1.000000,1.000000,1.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-09
1,g_0008,0.359533,1.0,1.0,0.052893,0.799935,0.831637,0.795279,0.495771,0.628122,...,0.183160,-0.012163,0.969582,0.168514,0.016369,1.015672,0.178584,-0.004716,0.977346,2015-08-19
2,g_0008,0.000000,1.0,1.0,0.000178,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.122068,0.041236,1.144023,0.120181,-0.042011,0.917745,0.117191,0.021724,1.011232,2015-08-29
3,g_0008,0.728735,1.0,1.0,0.245229,0.997885,1.000000,0.999186,0.862720,0.850139,...,0.146983,0.028079,1.018751,0.148558,0.021194,0.996589,0.140475,0.030432,1.010838,2015-09-08
4,g_0008,0.196777,1.0,1.0,0.221159,0.917697,0.958372,0.938543,0.465192,0.481961,...,0.151098,0.080623,1.095913,0.137650,0.065562,1.074056,0.143093,0.088073,1.112615,2015-09-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15713,g_4394,0.442461,1.0,1.0,0.118509,0.858289,0.812234,0.825967,0.730838,0.632965,...,0.268396,0.362835,3.517966,0.224996,0.058559,1.470011,0.240204,0.113218,1.764484,2015-08-06
15714,g_4394,1.000000,1.0,1.0,0.991419,1.000000,1.000000,1.000000,1.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-16
15715,g_4394,0.000000,1.0,1.0,0.044616,0.000000,0.000000,0.000000,0.001783,0.000000,...,0.208411,0.563074,11.049306,0.158983,0.274915,6.434928,0.159739,0.217020,5.044205,2015-08-26
15716,g_4394,1.000000,1.0,1.0,0.932280,1.000000,1.000000,1.000000,1.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-15
15717,g_4394,0.042349,1.0,1.0,0.335102,0.000000,0.000000,0.000000,0.005051,0.000000,...,0.711556,0.793180,10.106678,0.631680,0.745912,8.351132,0.618692,0.741391,8.047090,2015-09-25

5870

In [17]:
# build a dataframe with all the initial glaciers and add the cloud coverage percentage
df_dates_initial = gl_df[gl_df.area_km2 >= 0.1][['entry_id', 'date_inv']].copy()
df_dates_initial.date_inv = df_dates_initial.date_inv.apply(lambda x: x.strftime(f"%Y-%m-%d"))
df_dates_initial = df_dates_initial.merge(df_clouds[['entry_id', 'date', 'cloud_p_gl_b50m_v1']],
                                          left_on=('entry_id', 'date_inv'), right_on=('entry_id', 'date'), how='left')
assert not df_dates_initial.cloud_p_gl_b50m_v1.isna().any()
display(df_dates_initial)

     entry_id    date_inv        date  cloud_p_gl_b50m_v1
0      g_0008  2015-08-29  2015-08-29                 0.0
1      g_0009  2015-08-29  2015-08-29                 0.0
2      g_0030  2015-08-29  2015-08-29                 0.0
3      g_0035  2015-08-29  2015-08-29                 0.0
4      g_0039  2015-08-29  2015-08-29                 0.0
...       ...         ...         ...                 ...
1641   g_4389  2016-08-27  2016-08-27                 0.0
1642   g_4390  2016-08-27  2016-08-27                 0.0
1643   g_4391  2016-08-27  2016-08-27                 0.0
1644   g_4392  2016-08-27  2016-08-27                 0.0
1645   g_4394  2015-08-26  2015-08-26                 0.0

[1646 rows x 4 columns]

In [20]:
df_to_remove = pd.read_csv('../data/inv_images_qc/gl_seg - imgs_to_remove.csv')
df_to_remove['comment'] = df_to_remove.apply(lambda r: ' & '.join([c for c in df_to_remove.columns if r[c] == 'x']),
                                             axis=1)
df_to_remove = df_to_remove[['entry_id', 'date', 'comment']]
print(f"len(df_to_remove) = {len(df_to_remove)}")
# make sure the dates are within the inventory
assert len(df_to_remove.merge(df_dates_initial, on=('entry_id', 'date'), how='inner')) == len(df_to_remove)
display(df_to_remove)

df_to_replace = pd.read_csv('../data/inv_images_qc/gl_seg - imgs_to_replace.csv')
df_to_replace['comment'] = df_to_replace.apply(lambda r: ' & '.join([c for c in df_to_replace.columns if r[c] == 'x']),
                                               axis=1)
df_to_replace = df_to_replace[['entry_id', 'date', 'comment']]
# make sure the dates are within the sdf_clouds (i.e. the cloud coverage is below 30%)
assert len(df_to_replace.merge(sdf_clouds, on=('entry_id', 'date'), how='inner')) == len(df_to_replace)
print(f"len(df_to_replace) = {len(df_to_replace)}")
display(df_to_replace)

assert len(set(df_to_remove.entry_id) & set(df_to_replace.entry_id)) == 0

len(df_to_remove) = 39

   entry_id        date                                   comment
0    g_0525  2015-08-29                           too_many_clouds
1    g_0573  2015-08-29                           too_many_clouds
2    g_0694  2015-08-29                     too_many_cast_shadows
3    g_0703  2015-08-29                    too_much_seasonal_snow
4    g_0888  2015-08-29                    too_much_seasonal_snow
5    g_1047  2015-08-29                    too_much_seasonal_snow
6    g_1068  2015-08-29                           too_many_clouds
7    g_1098  2015-08-29                           too_many_clouds
8    g_1103  2015-08-29                    too_much_seasonal_snow
9    g_1115  2015-08-29                     too_many_cast_shadows
10   g_1125  2015-08-29                           too_many_clouds
11   g_1138  2015-08-29                           too_many_clouds
12   g_1145  2015-08-29                           too_many_clouds
13   g_1151  2015-08-29                     too_many_cast_shadows
14   g_1158  2015-08-29                           too_many_clouds
15   g_1203  2015-08-29                           too_many_clouds
16   g_1388  2015-08-26                           too_many_clouds
17   g_1406  2015-08-26  too_many_clouds & too_many_cloud_shadows
18   g_1412  2015-08-26  too_many_clouds & too_many_cloud_shadows
19   g_1419  2015-08-26                           too_many_clouds
20   g_1439  2015-08-26  too_many_clouds & too_many_cloud_shadows
21   g_1463  2015-08-29  too_many_clouds & too_many_cloud_shadows
22   g_1588  2015-08-26                           too_many_clouds
23   g_1696  2015-08-26                    too_much_seasonal_snow
24   g_1709  2015-08-26                    too_much_seasonal_snow
25   g_1923  2016-08-07                           too_many_clouds
26   g_1983  2015-08-26                           too_many_clouds
27   g_2023  2015-08-26                           too_many_clouds
28   g_2066  2015-08-26  too_many_clouds & too_many_cloud_shadows
29   g_2107  2015-08-29                           too_many_clouds
30   g_2436  2016-08-07                     too_many_cast_shadows
31   g_2755  2016-08-27                     too_many_cast_shadows
32   g_2977  2015-08-29                    too_much_seasonal_snow
33   g_2981  2015-08-29                    too_much_seasonal_snow
34   g_3892  2015-08-26                           too_many_clouds
35   g_3893  2015-08-26  too_many_clouds & too_many_cloud_shadows
36   g_4237  2015-08-26                           too_many_clouds
37   g_4050  2015-08-26                           too_many_clouds
38   g_4051  2015-08-26                           too_many_clouds

len(df_to_replace) = 158

    entry_id        date                                 comment
0     g_0349  2017-09-07  less_cast_shadows & less_seasonal_snow
1     g_0368  2017-08-23                       less_cast_shadows
2     g_0395  2017-09-07                       less_cast_shadows
3     g_0409  2017-09-07                       less_cast_shadows
4     g_0413  2017-09-07                       less_cast_shadows
..       ...         ...                                     ...
153   g_4094  2015-08-26                      less_cloud_shadows
154   g_4163  2015-08-03                       less_cast_shadows
155   g_4224  2015-08-03                      less_cloud_shadows
156   g_4374  2016-08-27                      less_cloud_shadows
157   g_4377  2016-08-27                             less_clouds

[158 rows x 3 columns]

In [21]:
# check how many glaciers we would drop if we don't do any change
glaciers_with_too_many_clouds = set(df_dates_initial.entry_id[df_dates_initial.cloud_p_gl_b50m_v1 > 0.3])
glaciers_to_manually_remove = set(df_to_remove.entry_id)
print(f"#glaciers with more than 30% cloud coverage = {len(glaciers_with_too_many_clouds)}")
print(f"#glaciers to manually remove = {len(glaciers_to_manually_remove)}")
glaciers_to_manually_remove -= glaciers_with_too_many_clouds
print(
    f"#glaciers to manually remove (after excluding those with more than 30% cloud coverage) = {len(glaciers_to_manually_remove)}")
glaciers_to_remove = glaciers_with_too_many_clouds | glaciers_to_manually_remove
print(f"#glaciers to be removed in total = {len(glaciers_to_remove)}")

#glaciers with more than 30% cloud coverage = 76
#glaciers to manually remove = 39
#glaciers to manually remove (after excluding those with more than 30% cloud coverage) = 17
#glaciers to be removed in total = 93

In [22]:
# build a dataframe and replace the manually selected dates; then add again the cloud coverage percentage
df_dates_final = df_dates_initial[['entry_id', 'date_inv']].copy()
df_dates_final['date'] = df_dates_final.date_inv
df_dates_final.set_index('entry_id', inplace=True)
df_dates_final.loc[df_to_replace.entry_id, 'date'] = df_to_replace.date.values
df_dates_final = df_dates_final.merge(df_clouds[['entry_id', 'date', 'cloud_p_gl_b50m_v1']], on=('entry_id', 'date'),
                                      how='left')
assert not df_dates_final.cloud_p_gl_b50m_v1.isna().any()
display(df_dates_final)

glaciers_with_too_many_clouds_v2 = set(df_dates_final.entry_id[df_dates_final.cloud_p_gl_b50m_v1 > 0.3])
glaciers_to_manually_remove_v2 = set(df_to_remove.entry_id) - set(glaciers_with_too_many_clouds_v2)
print(f"#glaciers with more than 30% cloud coverage = {len(glaciers_with_too_many_clouds_v2)}")
print(
    f"#glaciers to manually remove (after excluding those with more than 30% cloud coverage) = {len(glaciers_to_manually_remove_v2)}")
glaciers_to_remove_v2 = glaciers_with_too_many_clouds_v2 | glaciers_to_manually_remove_v2
print(f"#glaciers to be removed in total = {len(glaciers_to_remove_v2)}")
print(f"#glaciers that were 'saved' by replacing the dates: {len(glaciers_to_remove - glaciers_to_remove_v2)}")

# remove the selected glaciers
df_dates_final = df_dates_final[~df_dates_final.entry_id.isin(list(glaciers_to_remove_v2))]

# check how many of the remaining glaciers have a changed date
print(f"#glaciers with a different date in the end = {(df_dates_final.date != df_dates_final.date_inv).sum()}")

# check how many dates were optionally changed (i.e. exclude the problematic glaciers)
print(
    f"#glaciers with a different date in the end (excluding the removed ones) = {len(df_dates_final[~df_dates_final.entry_id.isin(glaciers_to_remove) & (df_dates_final.date != df_dates_final.date_inv)])}")

df_dates_final.to_csv('../data/inv_images_qc/final_dates.csv', index=False)
df_dates_final

     entry_id    date_inv        date  cloud_p_gl_b50m_v1
0      g_0008  2015-08-29  2015-08-29                 0.0
1      g_0009  2015-08-29  2015-08-29                 0.0
2      g_0030  2015-08-29  2015-08-29                 0.0
3      g_0035  2015-08-29  2015-08-29                 0.0
4      g_0039  2015-08-29  2015-08-29                 0.0
...       ...         ...         ...                 ...
1641   g_4389  2016-08-27  2016-08-27                 0.0
1642   g_4390  2016-08-27  2016-08-27                 0.0
1643   g_4391  2016-08-27  2016-08-27                 0.0
1644   g_4392  2016-08-27  2016-08-27                 0.0
1645   g_4394  2015-08-26  2015-08-26                 0.0

[1646 rows x 4 columns]

#glaciers with more than 30% cloud coverage = 36
#glaciers to manually remove (after excluding those with more than 30% cloud coverage) = 17
#glaciers to be removed in total = 53
#glaciers that were 'saved' by replacing the dates: 40
#glaciers with a different date in the end = 157
#glaciers with a different date in the end (excluding the removed ones) = 117

     entry_id    date_inv        date  cloud_p_gl_b50m_v1
0      g_0008  2015-08-29  2015-08-29                 0.0
1      g_0009  2015-08-29  2015-08-29                 0.0
2      g_0030  2015-08-29  2015-08-29                 0.0
3      g_0035  2015-08-29  2015-08-29                 0.0
4      g_0039  2015-08-29  2015-08-29                 0.0
...       ...         ...         ...                 ...
1641   g_4389  2016-08-27  2016-08-27                 0.0
1642   g_4390  2016-08-27  2016-08-27                 0.0
1643   g_4391  2016-08-27  2016-08-27                 0.0
1644   g_4392  2016-08-27  2016-08-27                 0.0
1645   g_4394  2015-08-26  2015-08-26                 0.0

[1593 rows x 4 columns]